body {
  background: darkgray;
  margin: 0;
  padding: 0;
  color: #000;
  font-family: "DejaVu Sans",Arial,Helvetica,Verdana,SansSerif,sans-serif; }

h1 {
  text-align: center; }

button {
  border: 1px solid #999;
  border-radius: 6px;
  background-color: #0b97c4;
  padding: 8px 40px 8px 40px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  cursor: hand; }

.container {
  width: 480px;
  margin: 0 auto;
  text-align: center; }

.leftpane {
  float: left;
  width: 500px;
  background: #9c9; }

.rightpane {
  float: right;
  width: 250px;
  background: #c9c; }

.container2 {
  width: 750px;
  margin: 0 auto;
  background: #99c; }

.pokedex {
  padding: 5px;
  margin-bottom: 15px;
  width: 400px;
  background-color: #ffffff; }

.pokemon-list-node {
  display: inline-block;
  width: 100px;
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  text-decoration: none;
  background-color: #f0f0f0; }

.pokemon-img {
  width: 120px;
  height: 120px;
  background: url("../react-test/static/bg-empty.png") no-repeat; }

.pokemon-name {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  color: black; }

.pokemon-type {
  display: inline;
  padding: 2px 5px 2px 5px;
  border-width: 1px;
  border-radius: 3px;
  color: black;
  text-align: center;
  font-size: 10px;
  margin: 2px 5px 2px 5px; }

.pokemon-type-normal {
  border-color: #8af1ef;
  background-color: #ceff9d; }

.pokemon-type-fighting {
  border-color: #ab584d;
  background-color: #ecc9c9; }

.pokemon-type-flying {
  border-color: #0b97c4;
  background-color: #9fd3d6; }

.pokemon-type-poison {
  border-color: #ac91b9;
  background-color: #ae96ba; }

.pokemon-type-ground {
  border-color: #4b2f0d;
  background-color: #958674; }

.pokemon-type-rock {
  border-color: #0b97c4;
  background-color: #ada4c4; }

.pokemon-type-bug {
  border-color: #ff0000;
  background-color: #549655; }

.pokemon-type-ghost {
  border-color: #cf873d;
  background-color: #8a9c7d; }

.pokemon-type-steel {
  border-color: #1d541c;
  background-color: #d9d9d9; }

.pokemon-type-fire {
  border-color: #f10008;
  background-color: #c97a77; }

.pokemon-type-water {
  border-color: #0b97c4;
  background-color: #a1e1fc; }

.pokemon-type-grass {
  border-color: #9dc488;
  background-color: #2bdf43; }

.pokemon-type-electric {
  border-color: #dfc475;
  background-color: #ffedb9; }

.pokemon-type-ice {
  border-color: #0b97c4;
  background-color: #73bfd6; }

.pokemon-type-dragon {
  border-color: #c40401;
  background-color: #d67b16; }

.pokemon-type-dark {
  border-color: #333333;
  background-color: #666666; }

.pokemon-type-fairy {
  border-color: #c4bdc3;
  background-color: #d620b6; }

.pokemon-type-unknown {
  border-color: #1244c4;
  background-color: #d6c121; }

.pokemon-type-shadow {
  border-color: #5a5a5a;
  background-color: #ababab; }

.pokemon-type-psychic {
  border-color: #c4000d;
  background-color: #ffe91e; }

.pokemon-props {
  border-top: 1px solid #000;
  border-left: 1px solid #000; }

.pokemon-props td {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 5px; }
